footer {
    width: 23.4375rem;
    padding: 1.375rem 1.5625rem;
    background-color: var(--grey);
    margin-top: 4.12rem;
}

.footer__title {
        width: 8.59888rem; 
        font-size: 1.125rem;
        padding-bottom: 1rem;
        color: var(--white);
    }


.footer__list__item {
    display: inline;
}

.footer__list__item__link {
    display: flex;
    text-decoration: none;
    color: var(--white);
}

footer ul li::before {
    content: none;
  }

.icon-wrapper {
    width: 0.6875rem;
    height: 0.8125rem;
    margin-right: 0.94rem;
}

.link__text {
    color: var(--white);
    padding-bottom: 0.44rem;
    justify-content: center;
}

strong {
    font-weight: 500;
}