.header__arrow {
  text-decoration: none;
  position: absolute;
  left: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  padding: 0.875rem 5.5625rem 0.8125rem 1.0625rem;
  color: #000;
}
