// .restaurants__icons {
//     position: absolute;
//     bottom: 1.9rem;
//     right: 2.3rem;
//     width: 26px;
//     margin-top: -20px;
//     top: 0;
//     right: 0;
//   }

//   .icons {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     font-size: 25px;
//   }
//   .icons input[type=checkbox]:checked ~ .icons-liked {
//     display: inline-block;
//     opacity: 1;
//   }
//   .icons input[type=checkbox]:checked ~ .icons-notLiked {
//     display: none;
//   }

//   .icons:hover .icons-liked {
//     opacity: 1;
//   }
//   .icons-notLiked {
//     position: absolute;
//   }
//   .icons-liked {
//     position: relative;
//     background: linear-gradient(160deg, #ff79da 0%, #9356dc 100%);
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     transition: opacity 200ms ease-in-out;
//     opacity: 0;
//   }

// input[type=checkbox] {
//     display: none;
// }

.card__heart {
  font-size: 24px;
}

.btn__heart {
  padding-right: 1.56rem;
  @include flex__center;

  &--outline {
    position: absolute;
  }

  &--solid {
    position: absolute;
    background: linear-gradient(
      180deg,
      $color-primary 0%,
      $color-secondary 100%
    );
    color: transparent;
    transform: scale(0);
    transition: transform 300ms;
    background-clip: text;
    -webkit-background-clip: text;
  }

  &:hover {
    cursor: pointer;

    .btn__heart--solid {
      transform: scale(1);
    }
    .btn__heart--outline {
      background: linear-gradient(160deg, #ff79da 0%, #9356dc 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: opacity 200ms ease-in-out;
      opacity: 0;
    }
  }
}

.left__heart {
  padding-left: 1.5rem;
}
