.loader__container {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading 0.2s 3s forwards;
}

.loader {
  font-size: 5rem;
  transform: scale(1);
  background: linear-gradient(160deg, $color-secondary 0%, $color-primary 100%);
  border-radius: 150px;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 2s linear;

  .fa-utensils {
    color: $white;
  }
}
