$grey: #353535;
$grey-tint-4: #7E7E7E;
$button-gradient: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
$white: white;
$primary: #9356DC;
$background: #F6F6F6;
$green: #99E2D0;
$green-font: #008766;

$color1: #EAEAEA;

@keyframes animationMenu {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }

@keyframes loading {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
        visibility: hidden;
    }
}