@import "./components/variables";
@import "./components/loader";
@import "./layout/header";
@import "./layout/main";
@import "./components/button";
@import "./components/list";
@import "./components/color";
@import "./components/card";
@import "./layout/footer";
@import "./layout/nav";
@import "./components/_menu-settings.scss";
@import "./components/icons";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
}

p {
  font-weight: 300;
  font-size: 1.125rem;
  color: $grey;
}

h1 {
  font-family: Shrikhand;
}

.center {
  max-width: 1024px;
  margin: auto;
}
