@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
@keyframes animationMenu {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes loading {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
.loader__container {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading 0.2s 3s forwards;
}

.loader {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: conic-gradient(#9356DC, #FF79DA, #9356DC);
  animation: spin 2s linear;
}

.header__home {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
}

.header__text {
  font-size: 1rem;
  font-weight: 500;
}

.header__logo {
  position: relative;
  font-family: Shrikhand, "cursive";
  margin: 0;
  text-align: center;
}

.header__title {
  font-size: 1.875rem;
  padding: 0.875rem 1.5625rem 0.28rem 0.5625rem;
  font-weight: 400;
}

.location {
  height: 3.125rem;
  display: flex;
  align-items: center;
  background-color: #EAEAEA;
  justify-content: center;
}
.location span {
  padding-left: 1.06rem;
}

.main__container {
  width: auto;
}
.main__container .main__content {
  text-align: center;
  padding: 2.44rem 3.62rem 0 2.63rem;
}

.main__p {
  width: auto;
  padding-top: 1rem;
}

.main__btn {
  display: flex;
  justify-content: center;
  padding-top: 1.69rem;
  padding-bottom: 3.56rem;
}

.main__fonction {
  background: white;
  height: 27.5rem;
}
.main__fonction h2 {
  padding-left: 1.25rem;
  padding-top: 3rem;
  padding-bottom: 1.62rem;
}

.main__restaurants {
  padding-left: 1rem;
  padding-right: 1rem;
}
.main__restaurants h2 {
  padding-top: 3.37rem;
  padding-bottom: 1.62rem;
}

.main__card {
  display: flex;
}

.restaurants__container {
  margin: auto;
}

.main__menu {
  max-width: 1280px;
  margin: auto;
}

@media (min-width: 1024px) {
  .main__p {
    width: auto;
  }
  .main__fonction {
    width: auto;
    height: auto;
  }
}
@keyframes animationMenu {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes loading {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
.btn {
  display: flex;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  color: white;
  border-radius: 1.5625rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 13.625rem;
  height: 3.125rem;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 1rem;
}
.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
}

.list__content {
  padding-left: 1.25rem;
  list-style: none;
  min-width: 20.15538rem;
  padding-left: 2.03rem;
  padding-right: 2.03rem;
}

.number {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  background: #9356DC;
  justify-content: center;
  border-radius: 10rem;
  align-items: center;
  color: white;
  font-size: 0.88638rem;
  margin-left: -0.8rem;
}

.list__style {
  display: flex;
  height: 4.52369rem;
  border-radius: 1.25rem;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  align-items: center;
  margin-bottom: 1.56rem;
}
.list__style .fa-solid {
  padding-left: 1.42rem;
}

.list__text {
  padding-left: 1.69rem;
  font-weight: 500;
}

.list__style--last {
  margin-bottom: 4.25rem;
}

@media (min-width: 768px) {
  .list__content {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 2.28rem;
    justify-content: center;
  }
  .list__style {
    width: 20.15538rem;
  }
}
.grey {
  color: #7E7E7E;
}

.primary {
  color: #9356DC;
}

@keyframes animationMenu {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes loading {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
.card {
  display: block;
  background: white;
  border-radius: 0.9375rem;
  text-decoration: none;
  color: inherit;
  margin-bottom: 1.12rem;
  position: relative;
  animation: animationMenu 0.6s;
}
.card img {
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  width: 100%;
  height: 11.4375rem;
}

.card__new {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 5rem;
  height: 1.8125rem;
  position: absolute;
  top: 0.81rem;
  right: 0.75rem;
  background-color: #99E2D0;
  color: #008766;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.125rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.card__title {
  padding-bottom: 0.31rem;
}

.card__content {
  padding: 0.81rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.card--last {
  margin-bottom: 4.13rem;
}

@media (min-width: 1024px) {
  .card--last {
    margin-bottom: 1.12rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.25rem;
    row-gap: 3.12rem;
  }
}
footer {
  padding: 1.375rem 1.5625rem;
  background-color: #353535;
}

.footer__title {
  width: 8.59888rem;
  font-size: 1.125rem;
  font-weight: 400;
  padding-bottom: 1rem;
  color: white;
}

.footer__list__item {
  display: inline;
}

.footer__list__item__link {
  display: flex;
  text-decoration: none;
  color: white;
}

footer ul li::before {
  content: none;
}

.icon-wrapper {
  width: 0.6875rem;
  height: 0.8125rem;
  margin-right: 0.94rem;
}

.link__text {
  color: white;
  padding-bottom: 0.44rem;
  justify-content: center;
}

strong {
  font-weight: 500;
}

@media (min-width: 1024px) {
  footer {
    padding-top: 2rem;
  }
  .footer__title {
    width: 8.6875rem;
    height: 1.6875rem;
    padding-bottom: 0rem;
  }
  .footer__container {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 6rem;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
  }
  .footer__list__item {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
  }
  .footer__title {
    padding-left: 5rem;
  }
  .special {
    padding-left: 3rem;
    padding-right: 1rem;
  }
}
.header__arrow {
  text-decoration: none;
  position: absolute;
  left: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  padding: 0.875rem 5.5625rem 0.8125rem 1.0625rem;
  color: #000;
}

.body__menu {
  background: white;
}

.container {
  max-width: 1480px;
  margin: auto;
}

.img__hero {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #F6F6F6;
  position: relative;
}

.menu__header {
  padding: 1rem 2rem 2.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__title {
  font-family: Shrikhand, "cursive";
  font-size: 1.75rem;
  font-weight: 400;
}

.menu__btn {
  height: 2rem;
  width: 2rem;
  background-color: initial;
  border: 0 solid transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #000;
}

.main__menu__btn {
  display: flex;
  justify-content: center;
  padding-top: 1.69rem;
  padding-bottom: 2.5rem;
}

.menu__like {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.menu__like {
  transition-duration: 0.25s;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}

.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

.menu__btn:before, .menu__like {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.menu__btn:before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  background: linear-gradient(0deg, #9356dc, #ff79da);
}

.submenu {
  padding: 0rem 1rem;
  padding-top: 2.5rem;
}

.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}

.submenu__title:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.submenus .menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  animation: animationMenu 0.6s;
}
.submenus .menuItem__header {
  flex: 1;
}
.submenus .menuItem__header, .submenus .menuItem__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.submenus .menuItem__title {
  margin: 0;
}
.submenus .menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.submenus .menuItem__price {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.submenus .menuItem__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.submenus .menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}
.submenus .menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.submenus .menuItem__icon {
  color: #99e2d0;
}
.submenus .delay-0 {
  animation-delay: 0s;
}
.submenus .delay-1 {
  animation-delay: 0.1s;
}
.submenus .delay-2 {
  animation-delay: 0.2s;
}
.submenus .delay-3 {
  animation-delay: 0.3s;
}
.submenus .delay-4 {
  animation-delay: 0.4s;
}
.submenus .delay-5 {
  animation-delay: 0.5s;
}
.submenus .delay-6 {
  animation-delay: 0.6s;
}
.submenus .delay-7 {
  animation-delay: 0.7s;
}
.submenus .delay-8 {
  animation-delay: 0.8s;
}

@media (min-width: 1024px) {
  .menu__header {
    padding-top: 3.19rem;
    justify-content: center;
  }
  .menu__header h2 {
    padding-right: 1.5rem;
  }
  .submenus {
    width: 50%;
    margin: auto;
  }
  .menu {
    width: 65.9375rem;
  }
}
.card__heart {
  font-size: 24px;
}

.btn__heart {
  padding-right: 1.56rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__heart--outline {
  position: absolute;
}
.btn__heart--solid {
  position: absolute;
  background: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);
  color: transparent;
  transform: scale(0);
  transition: transform 300ms;
  background-clip: text;
  -webkit-background-clip: text;
}
.btn__heart:hover {
  cursor: pointer;
}
.btn__heart:hover .btn__heart--solid {
  transform: scale(1);
}
.btn__heart:hover .btn__heart--outline {
  background: linear-gradient(160deg, #ff79da 0%, #9356dc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}

.left__heart {
  padding-left: 1.5rem;
}

* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F6F6F6;
}

p {
  font-weight: 300;
  font-size: 1.125rem;
  color: #353535;
}

h1 {
  font-family: Shrikhand;
}

.center {
  max-width: 1024px;
  margin: auto;
}/*# sourceMappingURL=base.css.map */